.inputBoxWrapper {
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--border-color);
  margin-bottom: var(--default);
}
.inputBox {
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  outline: none;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: var(--sm);
  resize: none;
  overflow-y: auto;
}

.chatFooterImage {
  height: var(--l);
}

button:hover .chatFooterImage {
  transform: scale(1.25);
}

.footerMessage {
  font-size: var(--xs);
}

.footer {
  position: fixed;
  bottom: 50px;
  width: 70%;
  z-index: 5;
}

@media screen and (width <=60em) {
  .footer {
    width: 90%;
  }
}
