.questionBox {
  display: flex;
  gap: var(--sm);
  font-size: var(--default);
  align-items: center;
  padding: 2rem 3rem;
  overflow-y: auto;
  line-height: 1.6;
  max-height: 10.2rem;
  margin-bottom: 1.8rem;
}

.answerBox {
  max-width: 90vw;
  height: 52vh;
  border-radius: var(--border-default);
  display: flex;
  gap: var(--sm);
  align-items: flex-start;
  font-size: var(--default);
  background-color: var(--div-color);
  padding: 2rem 3rem;
  overflow-y: scroll;
  margin-bottom: var(--xl);
  line-height: 2;
  overflow: scroll;
}

.answerBox > * {
  overflow: scroll;
}

img {
  height: var(--l);
}

.noContent {
  height: 100%;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.8rem;
}
