.previousChatsBox {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  font-size: var(--xs);
  font-weight: 600;
  overflow-y: auto;
  max-height: 35vh;
}

.previousChats {
  /* Generate left padding based on viewport width */
  --pad-left: clamp(0.5rem, 0.455vw + 0.341rem, 1rem);
  flex: 1;
  cursor: pointer;
  display: flex;
  gap: var(--xxs);
  padding: var(--pad-left) calc(2 * var(--pad-left));
  border: 1px solid var(--border-color);
  border-radius: var(--border-default);
}

.previousChats > img {
  height: var(--s);
}
