.app {
  display: grid;
  grid-template-columns: minmax(25rem, auto) 1fr;
  min-height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: 70fr 30fr;
  border-right: solid 1px var(--border-color);
  height: 100vh;
  transition: all 0.5s ease-in-out;
  max-width: 28rem;
}

.sidebar--upper {
  border-bottom: solid 1px var(--border-color);
  padding: 3rem 3.5rem;
  max-height: 70vh;
}

.sidebar--lower {
  padding: 3rem 3.5rem;
  max-height: 30vh;
}

.main-content {
  padding: var(--m);
  max-height: 100vh;
  width: 100%;
}

.dataButton {
  font-size: 1.2rem;
  padding: 2px 4px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ffffff99;
  transition: background-color 0.3s ease-in-out;
}

.dataButton:hover {
  background-color: #333;
}

.menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #ffffff99;
  display: none;
  z-index: 4;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.menuClicked {
  z-index: 6;
  position: absolute;
}

.menuClicked.sidebar {
  transform: translate(0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/*************************************** Media Queries ***********************************************************/

/* For Mobile screens */
@media screen and (width <= 60em) {
  .app {
    grid-template-columns: 1fr;
  }
  .menu {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }
  .main-content {
    position: absolute;
  }
}

@media screen and (width <= 40em) {
  html {
    font-size: 60%;
  }
}

@media screen and (width <= 25em) {
  html {
    font-size: 55%;
  }
  main-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .copy {
    font-size: 12px;
  }
}

@media screen and (width <=22em) {
  html {
    font-size: 50%;
  }
}

@media screen and (width <=17em) {
  html {
    font-size: 45%;
  }
}

/*********************************************************************************************************/
