.app {
  display: grid;
  grid-template-columns: 30fr 70fr;
  min-height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: 70fr 30fr;
  border-right: solid 1px var(--border-color);
  height: 100vh;
}

.sidebar--upper {
  border-bottom: solid 1px var(--border-color);
  padding: 3rem 3.5rem;
  max-height: 70vh;
}

.sidebar--lower {
  padding: 3rem 3.5rem;
  max-height: 30vh;
}

.main-content {
  padding: var(--xxl);
  max-height: 100vh;
}

.dataButton {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: #ffffff99;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

/*************************************** Media Queries ***********************************************************/

/* For Mobile screens */
@media screen and (width <= 50em) {
  .app {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}

@media screen and (width <= 36em) {
  html {
    font-size: 60%;
  }
}

@media screen and (width <= 25em) {
  html {
    font-size: 55%;
  }
}

/*********************************************************************************************************/
